<app-navbar></app-navbar>
<div class="container pt-5">
    <div class="col-xs-12">
        <p>Current Vehicle Identification Is:</p>
        <p class="my-0">Vehicle: {{car.year}} {{car.model}} {{car.brand}}</p>
        <p>{{car.engine}}</p>
    </div>
</div>
<div class="option-container container py-5">
    <div class="option mx-0">
        <div class="pull-left">
            Ok
        </div>
    </div>
    <div class="option mx-0">
        <div class="pull-left">
            Cancel
        </div>
    </div>
</div>