<div class="topbar">
    <div>
        <div class="title">
            <label>Scanner</label>
        </div>
        <div class="hour">

        </div>
    </div>
    <div class="options" style="justify-content: space-between">
        <div class="options">
            <div class="option_menu" (click)="goBack()">
                <img src="../../../assets/img/arrow.png">
            </div>
            <div class="option_menu">
                <img src="../../../assets/img/home.png">
            </div>
        </div>
        <div>
            <div class="option_menu" (click)="saveSelectedParams()" *ngIf="show" style="float: right">
                <img src="../../../assets/img/select.png">
            </div>
            <div class="option_menu" style="float:right">
                <img class="dropbtn" *ngIf="!show" (click)="showOption()" src="../../../assets/img/grapchis.png" />
                <div class="dropdown-content" *ngIf="showOptions" style="right:0;">
                    <div (click)="showChoseComponent()">PID List</div>
                    <div (click)="redirectToShowGraphics(1, data)">1 Graph</div>
                    <div (click)="redirectToShowGraphics(2, data)">2 Graph</div>
                    <div (click)="redirectToShowGraphics(4, data)">4 Graph</div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <label class="menu">{{message}}</label>
    </div>
</div>
<div class="options-container" *ngIf="!show">
    <div class="option" *ngFor="let item of data; let i=index;">
        <div style="padding-right:70px; flex-grow:1;text-align:left;">
            {{item.name}}
        </div>
        <div>
            {{item.value}}
        </div>
    </div>
</div>
<div *ngIf="show">
    <div class="options-container ">
        <div class="option" (click)="selectParam(item, i)" *ngFor="let item of originalArray; let i = index;">
            <div>
                <input type="checkbox" [checked]="checkIfSelected(item, i)">
            </div>
            <div style="padding-right:70px; flex-grow:1;text-align:left;">
                {{item.name}}
            </div>
            <div>
                {{item.value}}
            </div>
        </div>
    </div>
</div>