.menu-container{
    display:flex;
    justify-content: space-around;
}

.container{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background: black;
    margin: 0px!important;
    justify-content: center;
    padding: 0px!important;
    max-width: 100% !important;
    height: 100vh;    
}

.item{
    text-align: center;
    color:white;
}

.item label{
    width: 100%;
}

.item div img{
    max-width: 100%;
}

.item div{
    padding-bottom: 0px!important;
}