<div class="container">
    <div class="menu-container">
        <div class="item">
            <div class="p-5 mx-2">
                <a [routerLink]="['/scanner']">
                    <img class="w-100" src="../../../assets/img/scanner.png">
                </a>
            </div>
            <label>Scanner</label>
        </div>
        <div class="item">
            <div class="p-5 mx-2">
                <img class="w-100" src="../../../assets/img/segundo.png">
            </div>
            <label>OBD-II/EOBD </label>
        </div>
        <div class="item">
            <div class="p-5 mx-2">
                <img class="w-100" src="../../../assets/img/tercero.png">
            </div>
            <label>Previos Vehicles and Data</label>
        </div>
        <div class="item">
            <div class="p-5 mx-2">
                <img class="w-100" src="../../../assets/img/cuarto.png">
            </div>
            <label>Tools</label>
        </div>
    </div>
</div>