<div class="container">
  <div class="menu-container">
    <div class="item">
      <div class="p-5 mx-2">
          <a [routerLink]="['/scanner']">
            <img class="w-100" src="https://via.placeholder.com/250">
          </a>
      </div>
      <label>Scanner</label>
    </div>
    <div class="item">
        <div class="p-5 mx-2">
            <img class="w-100" src="https://via.placeholder.com/250">
        </div>
      <label>OBD-II/EOBD </label>
    </div>
    <div class="item">
        <div class="p-5 mx-2">
            <img class="w-100" src="https://via.placeholder.com/250">
        </div>
      <label>Previos Vehicles and Data</label>
    </div>
    <div class="item">
        <div class="p-5 mx-2">
            <img class="w-100" src="https://via.placeholder.com/250">
        </div>
      <label>Tools</label>
    </div>
  </div>
</div>
