<div class="topbar">
    <div>
        <div class="title">
            <label>Scanner</label>
        </div>
        <div class="hour">

        </div>
    </div>
    <div class="options" style="justify-content: space-between">
        <div class="options">
            <div class="option_menu" (click)="goBack()">
                <img src="../../../assets/img/arrow.png">
            </div>
            <div class="option_menu">
                <img src="../../../assets/img/home.png">
            </div>
        </div>
        <div class="options">
            <div class="option_menu" (click)="changeValues()">
                <img src="../../../assets/img/deselect.png">
            </div>
        </div>
    </div>
    <div>
        <label class="menu">{{message}}</label>
    </div>
</div>
<div class="options-container" *ngIf="show">
    <div *ngFor="let item of data; let i=index;" style="display:flex;">
        <div class="option" style="display:flex; flex-direction: row; flex-grow: 1">
            <div style="display:flex; flex-direction: column; justify-content: space-between;text-align: left; width: 200px">
                <div style="overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;"> {{item.name}} </div>
                <div style="padding-left:5px">
                    {{item.value}}
                </div>
                <div>
                    {{item.range}}
                </div>
            </div>
            <div style="width: 525px">
                <div class="wrapper_image" style="display: block">
                    <div class="sliding-background" style="display: block"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="options-container" *ngIf="!show" style="display: block">
    <div *ngFor="let item of data; let i=index;" style="display:flex;">
        <div class="option" style="display:flex; flex-direction: row; flex-grow: 1">
            <div style="display:flex; flex-direction: column; justify-content: space-between;text-align: left; width: 200px">
                <div style="overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;"> {{item.name}} </div>
                <div style="padding-left:5px">
                    {{item.second_value}}
                </div>
                <div>
                    {{item.second_range}}
                </div>
            </div>
            <div style="width: 525px">
                <div class="wrapper_image" style="display: block">
                    <div class="sliding-background" style="display: block"></div>
                </div>
            </div>
        </div>
    </div>
</div>