.options-container {
    display: block;
    position: relative;
    flex-grow: 1;
    width: 750px;
    background-color: #ffffff;
    color: black;
    flex-wrap: wrap;
    padding-top: 15px;
    flex-direction: column;
    margin-left: 10px;
}

.option {
    max-width: 97%;
    min-width: 97%;
    text-align: center;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    background-color: white;
    font-weight: bolder;
    font-size: 18px;
    display: flex;
    flex-direction: row;
}

.sub_option {
    padding: 5px;
    text-align: center;
    margin: 10px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    background-color: white;
    font-weight: bolder;
    font-size: 18px;
}

.option:hover {
    border-color: #d1b121;
    color: white;
    background-color: #00091c;
}

.topbar {
    display: flex;
    width: 100%;
    background-color: black;
    overflow: hidden;
    top: 0;
    color: white;
    flex-direction: column;
}

.topbar label {
    margin: 0px;
}

.options {
    background-color: #152143;
    display: flex;
    flex-direction: row;
}

.option_menu {
    padding-right: 5px
}

.dropbtn {
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content div:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.wrapper_image {
    overflow: hidden;
}

.sliding-background {
    background: url("../../../assets/img/graph.PNG") repeat-x;
    height: 80px;
    width: 4563px;
    animation: slide 60s linear infinite;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-1521px, 0, 0);
    }
}