.topbar {
    display: flex;
    width: 100%;
    background-color: black;
    overflow: hidden;
    top: 0;
    color: white;
    flex-direction: column;
}

.topbar label {
    margin: 0px;
}

.options {
    background-color: #152143;
    display: flex;
    flex-direction: row;
}

.option {
    padding-right: 5px
}