<app-navbar></app-navbar>
<div class="options-container ">
    <div class="option" (click)="redirectToYear()">
        Acura
    </div>
    <div class="option">
        Acura
    </div>
    <div class="option">
        Acura
    </div>
    <div class="option">
        Acura
    </div>
    <div class="option">
        Acura
    </div>
    <div class="option">
        Acura
    </div>
    <div class="option">
        Acura
    </div>
    <div class="option">
        Acura
    </div>
    <div class="option">
        Acura
    </div>
    <div class="option">
        Acura
    </div>
    <div class="option">
        Acura
    </div>
    <div class="option">
        Acura
    </div>
</div>